{{ if isset .Site.Params "hero" }} {{ if .Site.Params.hero.enable }}
<div class="home-hero">
    <picture>
        <source media="(min-width: 1280px)" srcset="{{ .Site.Params.hero.image }}-xl.jpg, {{ .Site.Params.hero.image }}-xl@2x.jpg 2x" />
        <source media="(max-width: 1280px)" srcset="{{ .Site.Params.hero.image }}-l.jpg, {{ .Site.Params.hero.image }}-l@2x.jpg 2x" />
        <source media="(max-width: 992px)" srcset="{{ .Site.Params.hero.image }}-m.jpg, {{ .Site.Params.hero.image }}-m@2x.jpg 2x" />
        <source media="(max-width: 768px)" srcset="{{ .Site.Params.hero.image }}-s.jpg, {{ .Site.Params.hero.image }}-s@2x.jpg 2x" />
        <img src="{{ .Site.Params.hero.image }}-xl.jpg">
    </picture>
    <div class="container">
        <div class="row vertical-align">
            <div class="col-xs-12 col-md-10">
                <h1>{{ .Site.Params.hero.title | safeHTML}}</h1>
                <h2 class="tag hidden-xs">{{ .Site.Params.hero.description | safeHTML}}</h2>
            </div>
        </div>
    </div>
</div>
{{ end }} {{ end }}
