<nav id="nav-mobile" role="navigation" class="visible-xs-block">
    <div class="block">
        <ul class="nav-default">
            {{ range .Site.Menus.main }}
            <li>
                <a href="{{ .URL | safeURL }}" alt="{{ .Name }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
        <ul id="social" style="background: #fff">
            <li><a href="https://www.facebook.com/LebowitzDental/" class="btn" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/DrLebowitzDDS" class="btn" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/company/lebowitz-dental-associates" class="btn" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.yelp.com/biz/lebowitz-dental-associates-phoenix-2" class="btn" title="Yelp"><i class="fa fa-yelp"></i></a></li>
            <li><a href="http://www.youtube.com/user/drlebowitz" class="btn" title="Youtube"><i class="fa fa-youtube"></i></a></li>
        </ul>
        <ul class="nav-quick">
            {{ range .Site.Menus.quick }}
            <li>
                <a href="{{ .URL | safeURL }}" alt="{{ .Name | safeHTML }}">
                    <span>{{ .Name | safeHTML }}</span> {{ .Pre }}
                </a>
            </li>
            {{ end }} {{ if isset .Site.Params "phone" }}
            <li>
                <a href="tel:{{ .Site.Params.phone}}" alt="phone number"><span>{{ .Site.Params.phone_print | safeHTML }}</span> <i class="fa fa-phone"></i></a>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>