<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body class="home">
    <div id="all">
        <header>
            {{ partial "nav.html" . }}
        </header>
        <section id="content-wrapper">
            {{ partial "hero.html" . }}
            <div class="navbar-fixed-top" data-spy="affix" data-offset-top="1000">
                {{ partial "nav-quick.html" . }}
            </div>
            <article id="home" class="container">
                <div class="row valign">
                    <div class="col-sm-12 col-md-9">
                        <h2 class="hidden-xs hidden-sm">{{ .Site.Params.hero.title | plainify}}</h2>
                      {{.Content}}
                    </div>
                    <div class="col-md-3 hidden-xs hidden-sm">
                        <img class="award pull-right" src="{{ .Site.Params.hero.award }}">
                    </div>
                </div>
            </article>
            {{ partialCached "reviews-slider.html" . }}
<!--             {{ partial "reviews-breadcrumb.html" (dict "Title" "")}}
 -->            {{ partial "features.html" . }}
            {{ partial "footer.html" . }}
        </section>
    </div>
    <!-- /#all -->
    {{ partial "scripts.html" . }}
</body>

</html>
